      <div class="row-fluid">
        <hr class="featurette-divider">
        <footer>
          <p class="pull-right"><a href="#">back to top</a>
          </p>
          <p>&copy; 2016 Referendum, Inc. &middot; <a href="https://github.com/tchoulihan/referendum" target="_blank">about</a> &middot; <a href="https://github.com/tchoulihan/referendum" target="_blank">contact</a> &middot; <a href="https://github.com/tchoulihan/referendum" target="_blank">support</a> &middot; <a href="https://github.com/tchoulihan/referendum" target="_blank">github</a> &middot; <a href="https://www.reddit.com/r/referendum_/">subreddit</a>
            <br>
          </p>
        </footer>
      </div>